# Run `pip install --user -r requirements.txt` (and/or `pip3`)
# and add `$HOME/.local/bin` to your PATH
ansible
ansible-lint
autopep8
awscli
boto
boto3
flake8
neovim
pylint
requests
vim-vint
yamllint
#yubikey-manager
